@media only screen and (max-width: 1200px) {
  .hero {
    flex-direction: column;
    gap: 5rem;
    width: 100vw !important;
    text-align: center;
    .info {
      align-items: center;
    }
    .images {
      justify-content: center;
    }
  }
  .hero .alert:nth-of-type(2) {
    right: 50px !important;
    left: auto;
  }
  .hero .alert:nth-of-type(1) {
    left: 50px;
  }
  .features h1,
  .features h2 {
    width: 100%;
  }
  .features .cards-container,
  .projects {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .section {
    padding: 2rem !important;
    h1 {
      font-size: 2.66rem;
    }
    h2 {
      font-size: 1.25rem;
    }
    img {
      width: 100%;
    }
    .alert {
      padding: 0.75rem 0;
      width: 100%;
      justify-content: center;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .hero .info h2 {
    max-width: 75%;
  }
  .sections-container {
    img,
    .alert {
      max-width: 35vw;
    }
    flex-direction: column;
    h1 {
      font-size: 2.8rem;
    }
    h2 {
      font-size: 1.35rem;
    }
  }
}
@media only screen and (max-width: 950px) {
  .contact-page {
    img {
      display: none;
    }
  }
  .features h1,
  .features h2 {
    padding: 0 3rem;
  }
  .section {
    flex-direction: column;
    display: flex;
    align-items: center;
    text-align: center;
  }
  .section h1,
  .section h2 {
    text-align: center;
  }
  .sections-container img,
  .sections-container .alert {
    max-width: 425px !important;
  }

  .hero {
    padding-top: 3rem;
  }
  #section4 {
    flex-direction: column;
  }
  .share-your-story {
    gap: 0 !important;
  }
}
@media only screen and (max-width: 768px) {
  .features .cards-container,
  .projects {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .section h1,
  .features h1 {
    font-size: 2.5rem;
  }
  .features h2 {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 600px) {
  .nav-links .btn {
    display: none !important;
  }
  .hero {
    gap: 3rem;
  }
  .hero .tableimg {
    width: 100% !important;
    height: auto;
    position: relative;
    left: -2rem;
  }
  .hero .alert:nth-of-type(1) {
    top: -10px;
  }
	.sections-container .section:nth-of-type(2) {
		padding: 2rem 1rem!important;
		gap: 2rem;
	}
	.carbon-projects {
		margin: 3rem 2rem;
	}
  .features .alert {
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
    box-shadow: 0px 5px 10px rgb(123, 123, 123);
  }
	.hero .alert {
		font-size: 0.9rem;
	}
  .hero .green {
    position: relative;
    transform: translate(-0.5rem, -3rem);
  }
  .hero .images {
    flex-direction: column;
  }
  .features {
    margin-top: 0;
  }
}

@media only screen and (max-width: 480px) {
	.debit-card {
		transform: scale(0.8);
	}
	.features .alert {
		font-size: 0.8rem;
	}
	.features .alert-img {
		display: none;
	}
	.debitcard-container {
		gap: 0rem;
	}
	.features .alert svg {
		display: none;
	}
  input,
  textarea {
    width: 100%;
    min-width: auto !important;
  }
  .contact-card {
    padding: 2rem;
  }
  .contact-page .contact-card {
    transform: none !important;
  }
  #signin-link {
    display: none;
  }
  .nav-links .btn {
    display: none !important;
  }
  .join h1 {
    margin-top: 5rem;
  }
  .empower {
    padding: 0 !important;
  }
  #section3 {
    margin-top: 0;
  }
	.sections-container {
		margin: 2rem 2rem;
	}
  .join h1,
  .join h2 {
    padding: 0 5rem;
  }
  .section h1,
  .features h1 {
    font-size: 1.9rem;
  }
  .slider {
    margin-bottom: 4rem;
  }
  .carbon-projects h2:last-of-type {
    padding-top: 0;
  }
  .btn.green {
    margin-top: 0;
    margin-bottom: 5rem !important;
  }
  #section2 #companies img {
    width: 60px;
  }
  .features h1 {
    padding: 0 1rem;
    margin-bottom: 0;
  }
  .section h1 {
    padding: 0;
  }
  .features h2 {
    font-size: 1.1rem;
    padding: 2rem 1rem;
  }
  .btn-container {
    flex-direction: column;
    align-items: center;
  }
  .btn-container .btn {
    width: 192px;
  }
  .title {
    font-size: 2.75rem;
    line-height: 130%;
  }
  .hero .info h2 {
    font-size: 1.2rem;
    max-width: 100%;
  }
  .features {
    padding-top: 4rem;
  }
  .control-spend h2 {
    margin-bottom: 1.75rem;
  }
  .control-spend {
    padding-top: 3.5rem;
  }
  .carbon-projects h2 {
    margin-bottom: 0;
  }
  .features .cards-container {
    margin-top: 1rem;
  }
  .sections-container .section h2 {
    padding: 2rem 0;
  }
  .Navbar h2 {
    font-size: 1.3rem;
  }
  .hero {
    padding-top: 1.5rem;
  }
  .btn {
    font-size: 0.95rem;
  }
  .sections-container .section .btn {
    margin-top: 0;
  }
  .contact-card .btn.green {
    margin-bottom: 0 !important;
    width: 100%;
    min-width: auto;
  }
  .Navbar {
    padding: 2rem 1rem;
  }
}
