$primary: rgb(31,47,71);
$secondary: rgb(228, 251, 234);
$light: #778292;
$green: rgb(47,199,84);
* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  color: $primary;
  box-sizing: border-box;
  font-weight: 500;
}
html, body {
  overflow-x: hidden;
}
// utilities:
.title {
  font-size: 4rem;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: $light;
  display: inline-block;
  cursor: pointer;
  &:hover {
    color: $primary;
  }
}
.btn {
  background-color: $primary;
  color: white;
  padding: 0.66rem 1.33rem;
  border: 1px solid $primary;
  &:hover {
    background-color: rgb(36, 55, 82);
    color: white;
  }
  &-outlined {
    color: $primary;
    background-color: transparent;
    border: 1px solid $light;
    &:hover {
      background-color: rgb(255, 255, 255);
      color: $primary;
    }
  }
}

//Components
.Navbar {
  background-color: $secondary;
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo-container {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 1rem;
    img {
      width: 28px;
      height: 28px;
    }
    h2 {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
.alert {
  position: absolute;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: $green;
  word-spacing: 2px;
  z-index: 5;
  background-color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 7px 15px rgb(123, 123, 123);
  animation: fly 5s forwards infinite ease-in-out;
}
@keyframes fly {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0%);
  }
}

.hero {
  .alert:nth-of-type(1) {
    left: -2.5rem;
    top: 5rem;
  }
  .alert:nth-of-type(2) {
    left: 200px;
    top: calc(30vh + 88px);
    animation-delay: -3s;
  }
  width: 115vw !important;
  justify-content: space-between;
  padding-top: 4rem;
  background-color: $secondary;
  padding-left: 3rem;
  display: flex;
  width: 100%;
  .info {
    padding-right: 3rem;
    h2 {
      font-size: 1.35rem;
      max-width: 66%;
    }
    gap: 2rem;
    display: flex;
    flex-direction: column;
    .btn-container {
      display: flex;
      gap: 2rem;
      align-items: center;
    }
  }
  .tableimg {
    height: 90vh;
    border-radius: 10px;
    border: 1px solid #a2aab7;
  }
  .images {
    position: relative;
    display: flex;
  }
  .green {
    transform: translate(-30%, 30vh);
    position: absolute;
    background-color: $green;
    width: 300px;
    height: 188px;
    box-shadow: 0px 7px 10px rgb(176, 176, 176);
    border-radius: 10px;
    .visa {
      width: 100%;
    }
  }
}
.features {
  position: relative;
  margin-top: -4rem;
  box-shadow: 0 -1px rgb(239, 239, 239);
  background-color: white;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7.5rem;
  h1 {
    padding: 0 7.5rem;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 2.8rem;
    width: 75%;
  }
  h2 {
    padding: 0 7.5rem;
    text-align: center;
    color: $light;
    font-size: 1.35rem;
    width: 60%;
  }
  .cards-container {
    padding: 0 3rem;
    margin-top: 5rem;
    gap: 2rem;
    justify-content: space-between;
    display: grid;
    animation: none;
    grid-template-columns: repeat(4, 1fr);
  }
}
.card {
  flex: 1;
  opacity: 0;
  background-color: $secondary;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  h3 {
    font-weight: bold;
    font-size: 1.33rem;
  }
  p {
    line-height: 140%;
    font-size: 17px;
  }
  svg {
    stroke: $green;
  }
}

.sections-container {
  margin: 2rem 3rem;
  display: flex;
  gap: 2rem;
  h1 {
    font-weight: bold;
  }
  h2 {
    line-height: 150%;
  }
  h1, h2 {
    text-align: left;
    padding: 0;
    width: 100%;
  }
  .alert {
    position: relative;
    box-shadow: 0 0px 10px rgb(143, 143, 143);
    animation: none;
    color: $primary;
    font-weight: 400;
    width: 35vw;
    .bold {
      font-weight: bold;
      padding: 0 5px;
    }
    svg {
      background-color: $green;
      width: 28px;
      height: 28px;
      padding: 7px;
      margin-right: 10px;
      border-radius: 2px;
    }
  }
  img {
    border: 1px solid rgb(123, 123, 123);
    border-radius: 10px;
    width: 35vw;
  }
  .alert-img {
    width: 28px;
    margin-right: 10px;
    border: none;
    border-radius: 2px;
  }
  .section {
    padding: 3rem;
    flex: 1;
    .btn {
      margin-top: 3rem;
    }
  }
  .section:nth-of-type(1) {
    background-color: #f7fdf8;
  }
  .section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-color: rgb(228, 251, 234);
  }
}
.footer {
  background-color: white;
  padding: 1.25rem 3rem;
  width: 100%;
  font-size: 1rem;
  display: flex;
  border-top: 1px solid $light;
  justify-content: center;
  align-items: center;
  p{
    color: $primary;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 300;

  }
}

.control-spend {
  padding-top: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    width: 70%;
    margin-bottom: 5rem;
  }
}
.debitcard-container {
  overflow: hidden;
  display: flex;
  gap: 3rem;
  align-items: center;
  .debit-card {
    display: flex;
    box-shadow: 0 10px 20px rgb(203, 244, 214);
    width: 330px;
    padding: 2rem;
    border-radius: 10px;
    .upper-part {
      justify-content: space-between;
      align-items: flex-start;
      display: flex;
      margin-bottom: 2rem;
      img {
        width: 60px;
        border-radius: 5px;
      }
      .name {
        font-size: 1.25rem;
        margin-bottom: 5px;
      }
      .text {
        font-size: 1rem;
      }
    }
    .bottom-part .price {
      display: flex;
      align-items: center;
      justify-content: space-between;
      div {
        align-items: center;
        display: flex;
        gap: 0.5rem;
      }
    }
    .bar {
      .line {
        margin-top: 1rem;
        width: 100%;
        height: 4px;
        border-radius: 100px;
      }
      .progress {
        background-color: white;
        height: 4px;
        position: relative;
        top: -4px;
        z-index: 2;
        border-radius: 100px;
      }
    }
    flex-direction: column;
  }
}
.slider {
  display: flex;
  position: relative; 
  overflow: hidden; 
  align-self: flex-start;
  margin-bottom: 7.5rem;
}
#debitcard0 {
  animation: move 25s linear -12.5s infinite;
}
#debitcard1 {
  animation: move2 25s linear infinite;
}
@keyframes move {
   0% {
    transform: translateX(100%);
   }
   100% {
    transform: translateX(-105%);
   }
}
@keyframes move2 {
   0% {
    transform: translateX(0%);
   }
   100% {
    transform: translateX(-205%);
   }
}

#section2 {  
  .section:nth-of-type(1) {
    padding: 5rem 3rem;
    background-color: rgb(228, 251, 234);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section:nth-of-type(2) {
    padding: 5rem 3rem;
    background-color: #f7fdf8;
  }
  #companies {
    gap: 1.5rem;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    img {
      cursor: pointer;
      border: 1px solid rgb(160, 160, 160);
      width: 65px;
      transition: transform 0.1s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
.carbon-projects {
  display: flex;
  position: relative;
  align-items: center;
  margin: 5.5rem 3rem;
  flex-direction: column;
  .projects {
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    align-items: flex-start;
  }
  h2 {
    width: 90%;
    margin-bottom: 3rem;
  }
  .project {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    p.big {
      margin-top: 5px;
      font-size: 1.25rem;
    }
    p.small {
      font-weight: 300;
      color: $light;
      font-size: 1rem;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}
#section3, #section4 {
  .section {
    padding: 5rem 3rem;
  }
  img {
    border: none;
    transform: scale(1.1);
  }
  .section:nth-of-type(1) {
    background-color: $secondary;
  }
  .section:nth-of-type(2) {
    background-color: #f7fdf8;
  }
}
#section4 {
  margin-top: 0;
  flex-direction: row-reverse;
}
.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary;
  h1 {
    font-size: 2rem;
    margin-top: 7.5rem;
    font-weight: bold;
    margin-bottom: 1.75rem;
  }
}
.btn.green {
  margin-top: 1.75rem;
  font-size: 0.9rem;
  background-color: $green;
  border-color: $green;
  cursor: pointer;
  &:hover {
    background-color: lighten($color: $green, $amount: 3);
  }
}

.signup, .signin, .contact-card {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  .wrapper {
    display: flex;
    gap: 2rem;
    flex-direction: column;

  }
  h1 {
    font-weight: bold;
    font-size: 1.75rem;
  }
  .btn {
    margin: 0;
    min-width: 360px;
  }
  p {
    font-size: 1rem;
    a {
      margin-left: 10px;
      &:hover {
        color: $green;
      }
    }
  }
  input, textarea {
    height: 50px;
    outline: none;
    font-size: 1.1rem;
    padding-left: 10px;
    min-width: 360px;
    transition: all 0.1s ease;
    border: 1.75px solid transparent;
    box-shadow: 0 0 1px #838383;
    &:focus {
      box-shadow: 0 0 1px $green;
      border: 1.75px solid $green;
      border-radius: 10px;
    }
  }
}
.alert.error {
  animation: none;
  border-radius: 0px;
  position: relative;
  color: rgb(214, 81, 64);
  background-color: rgb(244, 222, 216);
  font-weight: 400;
  box-shadow:  0 0 1px #838383;
}

.redp {
  color: rgb(214, 81, 64);
  font-size: 1.1rem;
}
.greenp {
  color: $green;
  font-size: 1.1rem;
}
.contact-page {
  height: 100vh;
  background-color: white;
  display: flex;
  img {
    flex: 1;
    object-fit: cover;
    width: 0;
  }
  // padding-left: 5rem;
  .contact-card {
    transform: translateX(5rem);
    input, textarea {
      height: 45px;
      font-size: 1rem;
    }
    width: 0;
    flex: 1;
    gap: 2rem;
    align-items: flex-start;
    flex-direction: column;
    h1 {
      font-size: 2.8rem;
    }
    textarea {
      padding-top: 10px;
      height: 190px;
      resize: none;
    }
  }
}
.work {
  display: flex;
  padding-top: 4rem;
  flex-direction: column;
  h1.title {
    align-self: center;
    width: 75%;
    text-align: center;
    padding-bottom: 5rem;
  }
  .sections-container {
    margin-bottom: 5rem;
  }
  .section {
    padding: 0;
    h1 {
      font-size: 2.25rem;
      margin-bottom: 2rem;
    }
    p, h1 {
      width: 95%;
    }
    p {
      font-size: 1.15rem;
      line-height: 150%;
      span, .span {
        cursor: pointer;
        padding: 0 1px;
        color: rgb(38, 169, 71);
        font-weight: bold;
        display: inline-flex;
        align-items: center;
        gap: 5px;
        img {
          width: 24px;
        }
      }
    }
    background-color: transparent !important;    
    .more {
      font-size: 0.95rem;
      line-height: 135%;
      text-align: center;
    }
  }
  img {
    width: 500px;
    border: none;
  }
}
.how.section {
  background-color: $secondary !important;
  margin: 3rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  p {
    width: 100%;
  }
  h1 {
    margin-bottom: 0;
    font-weight: bold;
  }
  .formula {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 2rem;
    h6 {
      font-style: italic;
      font-size: 1.07rem;
      padding: 0.75rem 1.5rem;
      font-weight: 600;
      background-color: rgb(183, 245, 200);
    }
    h5 {
      font-size: 1.25rem;
    }
  }
  .levels {
    margin-top: 1rem;
    display: flex;
    gap: 3rem;
    .step {
      svg {
        background-color: $green;
        padding: 0.5rem;
        box-sizing: content-box;
      }
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1.1rem;
      h3 {
        font-size: 1.2rem;
        font-weight: bold;
      }
      p {
        line-height: 155%;
        font-size: 1.1rem;
      }
    }
  }
}
.section.last {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  h1 {
    margin-bottom: 0;
  }
}
img.carboncapture {
  align-self: center;
  object-fit: cover;
  height: 400px;
}
.section.movement {
  margin-top: 2rem;
  margin-bottom: 8rem;
  display: flex;
  h1 {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  flex-direction: column;
  align-items: flex-start;
  padding-left: 3rem;
  p {
    width: 66%;
  }
}
.alert.popup {
  background-color: white;
  box-shadow: 0 0px 10px rgb(143, 143, 143);
  animation: none;
  color: $primary;
  font-weight: 400;
  padding: 1.5rem;
  max-width: 275px;
  font-size: 0.9rem;
  transform: translate(-50%, calc(-100% - 5px));
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}